[submodule "First_Project/vendor/SFML"]
	path = First_Project/vendor/SFML
	url = https://github.com/SFML/SFML.git
[submodule "First_Project/cmake-sfml-project"]
	path = First_Project/cmake-sfml-project
	url = https://github.com/Kishinskiy/cmake-sfml-project.git
